.aside-container {
	background-color: #80c4b9;
	box-sizing: border-box;
	height: 100vh;
	padding-top: 15%;
	width: 20%;
}

.aside-nav-links-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.aside-nav-link {
	display: flex;
	font-size: 1em;
	justify-content: center;
	line-height: 40px;
	text-align: left;
	transition: 0.2s ease-in-out;
	width: 100%;

	&:hover {
		background-color: #598981;
		color: #fff;
		transition: 0.2s ease-in-out;
	}
}

.selected {
	background-color: #000;
	color: #fff;
}

.aside-nav-link-text {
	width: 60px;
}
