// COLORS

$default-background-color: #80c4b9;
$hover-background-color: #598981;
$underlined-color: #D3D3D3;

// FONTS

$default-font-family: Arial, Helvetica, sans-serif;
$default-font-size: 1em;
$default-line-height: 2em;
