// COLORS

$default-background-color: #80c4b9;
$hover-background-color: #598981;
$underlined-color: #d3d3d3;
$hover-row-background-color: #e0e0e0;

// FONTS

$default-font-family: Arial, Helvetica, sans-serif;
$default-font-size: 1em;
$default-line-height: 2em;


//ANIMATIONS
$default-transition: 0.2s ease-in-out;
