@import '../../styles/variables';

.table-list-container {
	max-height: 325px;
	overflow-y: scroll;
	width: 85%;
}

.table-row-styling {
	border-bottom: 1px solid $underlined-color;
	display: flex;
	line-height: 4em;

}

.table-heading {
	background-color: #fff;
	position: sticky;
	position: sticky;
	top: 0;
}

.table-row-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: $default-font-size;
	width: 18%;

	&:first-child {
		margin-left: 10px;
        justify-content: flex-start;
	}
}



.table-column-title {
	font-size: $default-font-size;

}

.table-name-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $default-background-color;
    border-radius: 50%;
    color: #fff;
}