@import '../../styles/variables';

.table-list-container {
	height: 50vh;
	overflow-y: scroll;
	width: 85%;
}

.table-row-styling {
	border-bottom: 1px solid $underlined-color;
	display: flex;
	line-height: 4em;

}

.table-heading {
	background-color: #fff;
	position: sticky;
	position: sticky;
	top: 0;
}

.table-row-item-container {
	font-size: $default-font-size;
	text-align: center;
	width: 18%;

	&:first-child {
		margin-left: 10px;
		text-align: left;
	}
}



.table-column-title {
	font-size: $default-font-size;

}
